@import 'src/app/shared/styles/styles.scss';

.login-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}

.form__control {
  display: flex;
  flex-direction: column;
}

.form__action {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}