<div style="display: flex; justify-content: space-between;">
<app-search [placeholder]="placeholder" (search)="onSearch($event)"></app-search>
<app-button *ngIf="isAdmin" (click)="onAddCourse()" [buttonText] = "addCourseBtn"></app-button>
</div>
<div *ngIf="isLoading$ | async; else courseList">
  <p>Loading courses...</p>
</div>
<ng-template #courseList>
  <div *ngIf="courses$ | async as courses">
    <div *ngIf="courses.length > 0; else noResults">
      <ul>
        <h1>Courses</h1>
        <li *ngFor="let course of courses">
          <app-course-card [title]="course.title" [description]="course.description"
            [authors]="course.authors" [duration]="course.duration" [creationDate]="course.creationDate"
            (clickOnShow)="onShowCourse(course.id)">
            <app-button *ngIf="isAdmin" class="app-button__single-icon" (click)="onEditCourse(course.id)" [iconName]="editBtn"></app-button>
            <app-button *ngIf="isAdmin" class="app-button__single-icon" [iconName]="removeBtn"></app-button>        
          </app-course-card>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
<ng-template style="display: grid; align-content: center;" #noResults>
  <p class="no-results">Your list is empty</p>
  <p class="no-results">Please use "add New Course" button to add your first course</p>
  <app-button *ngIf="isAdmin" (click)="onAddCourse()" [buttonText]="addCourseBtn"></app-button>
</ng-template>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<router-outlet></router-outlet>
