<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form>
  <div class="app-plate">
    <div class="course" [formGroup]="courseForm">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input type="text" id="title" formControlName="title" placeholder="Input text"/>
        <div *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched">
          <span *ngIf="courseForm.get('title')?.errors?.['required']" id="titleErrorMessage" class="text-danger">Title is required.</span>
          <span *ngIf="courseForm.get('title')?.errors?.['minlength']" id="titleErrorMessage" class="text-danger">Title must be at least 2 characters long.</span>
        </div>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          id="description"
          name="description"
          formControlName="description"
          placeholder="Input text"
          rows="4"
          cols="5"
        ></textarea>
        <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched">
          <span *ngIf="courseForm.get('description')?.errors?.['required']" id="descriptionErrorMessage" class="text-danger">Description is required.</span>
          <span *ngIf="courseForm.get('description')?.errors?.['minlength']" id="descriptionErrorMessage" class="text-danger">Description must be at least 2 characters long.</span>
        </div>
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <div style="display: grid; flex-direction: column;">
            <label for="duration">Duration</label>
            <input type="number" id="duration" formControlName="duration" placeholder="Input duration"/>
          </div>
          <div class="course__duration">
            {{courseForm.get('duration')?.value | duration}}
          </div>
        </div>
        <div *ngIf="courseForm.get('duration')?.invalid && courseForm.get('duration')?.touched">
          <span *ngIf="courseForm.get('duration')?.errors?.['required']" id="durationErrorMessage" class="text-danger">Duration is required.</span>
          <span *ngIf="courseForm.get('duration')?.errors?.['min']" id="durationErrorMessage" class="text-danger">Duration should be positive.</span>
        </div>
        </div>
      <div class="separator"></div>
      <div style="display: flex;">        
        <div class="form__control" style="flex: 2;">
          <h3>Authors</h3>
          <div class="course__flex">
            <!--Use the name `author` for the form control.-->
            <div style="display: grid; flex-direction: column;">
              <label for="author">Author Name</label>
              <div style="display: flex;">
                <input type="text" id="author" formControlName="author" placeholder="Input Author Name"/>
                <app-button id="createAuthor" (click)="onSubmitAuthor()" [buttonText]="createAuthorBtn"></app-button>
              </div>
            </div>
          </div>
          <div *ngIf="courseForm.get('author')?.invalid && courseForm.get('author')?.touched">
            <span *ngIf="courseForm.get('author')?.errors?.['pattern']" id="authorErrorMessage">New author should contain only latin letters and numbers.</span>
            <span *ngIf="courseForm.get('author')?.errors?.['minlength']" class="text-danger" id="authorErrorMessage">New author name must be at least 2 characters long.</span>
          </div>
          <div class="course__authors">
            <!--Use the name `authors` for the form array.-->
            <div>
              <label for="authors">Authors List</label>
              <div formArrayName="authors">
                <div *ngFor="let authorControl of authors.controls; let i = index" style="display: flex;">
                  <input type="text" [formControl]="getAuthorControl(i)">
                  <app-button id="addAuthor" name="addAuthor" (click)="onAddAuthor(i)" [iconName]="addBtn"></app-button>
                  <app-button id="deleteAuthor" name="deleteAuthor" (click)="onDeleteAuthor(i)" [iconName]="removeBtn"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <div class="form__control" style="flex: 1; margin-left: 12px;">
          <h3>Course Authors</h3>
          <span *ngIf="courseAuthors.length === 0">{{message}}</span>
          <div formArrayName="courseAuthors">
            <div *ngFor="let courseAuthorControl of courseAuthors.controls; let i = index" style="display: flex;">
              <input type="text" [formControl]="getCourseAuthorControl(i)">
              <app-button id="deleteAuthor" name="deleteAuthor" (click)="onDeleteCourseAuthor(i)" [iconName]="removeBtn"></app-button>
            </div>            
          </div>
        </div>
      </div>  
      <div class="form__action">
        <app-button [buttonText]="cancelBtn"></app-button>
        <app-button type="submit" (click)="onSubmitCourse()" [buttonText]="createCourseBtn"></app-button>
      </div>
    </div>
  </div>
</form>
